#marquee{
      display: block;
      height: 30px;
      width: 100%;
      overflow: hidden;
      position: relative;
}
#marquee p{
    animation: move 10s infinite alternate;
    position: absolute;
    left: 0;
}
@keyframes move{
    0%{
        left:0
    }
    100%{
        left:-100vw;
    }
}